@media screen and (min-width:780px){

    .head-page{
        width: 100%;
        flex-direction: row;
        gap: 0;
    }

    .img-head{
        width: fit-content;
    }

    .img-head a img{
        height: 6.8em;
    }

    .img-head a{
        padding: 0;
    }

    nav{
        width: fit-content;
        margin-top: auto;
    }
    
    .nav-list{
        gap: 0.5em;
        width: fit-content;
        display: flex;
    }
    
    .head-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* lista */
    ul{
        /* gap: 2em; */
        font-size: 1.6em;
        list-style: none;
        background-color: white;
    }

    /* li da lista */
    .nav-iten{
        flex-direction: row;
    }

    /* link da lista */
    .nav-iten a{
        /* font-size: 1.6em; */
        font-weight: 600;
        padding: 0.8em 1em;
        text-decoration: none;
        color: var(--primary-color);
    }

    .nav-iten:hover{
        background-color: #cacaca;
    }

}
