#icone-svg {
    width: 50px; /* Largura do ícone (ajuste conforme necessário) */
    height: 50px; /* Altura do ícone (ajuste conforme necessário) */
    fill: #3498db; /* Cor inicial do ícone */
    transition: fill 0.3s ease; /* Adiciona uma transição suave para a mudança de cor */
  }
  
  #icone-svg:hover {
    fill: #e74c3c; /* Cor do ícone ao passar o mouse (ajuste conforme necessário) */
  }
  